@use './tailwind.scss';
@use 'element-plus/theme-chalk/el-message-box.css';
@use 'element-plus/theme-chalk/el-overlay.css';
@use 'element-plus/theme-chalk/el-loading.css';
@use 'element-plus/theme-chalk/dark/css-vars.css';
@use './reset-el-style.scss';
@use 'nprogress/nprogress.css';

:root {
  --layout-menu-width: 240px;
  --layout-header-height: 58px;
  --el-color-primary: #0062ff;
  --el-color-primary-light-3: #2982ff;
  --el-color-primary-light-5: #52a0ff;
  --el-color-primary-light-7: #7abaff;
  --el-color-primary-light-8: #a3d3ff;
  --el-color-primary-light-9: #e6f4ff;
  --el-color-primary-dark-2: #0039b3;
}

.page-title {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.dark .page-title {
  color: #ffffff;
}
